/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 23, 2013, 2:16:55 AM
    Author     : Xiaolong
*/
html
{
    background-color: aliceblue;
}
body
{
    margin:0 auto;
    /*background-color: blue;*/
}
.headForm
{
    margin: auto;
    border-style:double;
    width: 810px;
}
.headDiv
{
    margin: auto;
    height:120px;
}
.logo
{
    display:inline-block;
    width: 600px;
    height:118px;
}
.logSpan
{
    display:inline-block;
    width:200px;
    height:118px;
}
.navTab
{
    width:260px;
    height:30px;
    text-align: center;
    border-style:inset;
}
.homeNewsDiv
{
    vertical-align: top;
    display:inline-block;
    width:300px;
}
.homeBookDiv
{
    vertical-align: top;
    display:inline-block;
    width:500px;
}
.homeHoursDiv
{
    height: 200px;
    background-color:activecaption;
    border-style: double;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.homeNewsList
{
    background-color:aqua;
}
.homeSearch
{
    height:auto;
    background-color:blueviolet;
}
.homeSearchText
{
    width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.homeBookList
{
    background-color:burlywood;
}
.homeBook
{
    height: auto;
    border-style: double;
}
.homeBook_pic
{
    display: inline-block;
    width:180px;
    vertical-align: top;
}
.homeBook_info
{
    display: inline-block;
    width: 300px;
    vertical-align: top;
}
.commentsDiv
{
    display: inline-block;
    width: 300px;
    max-height: 240px;
    vertical-align: top;
}
.commentArea
{
    display: block;
    width:290px;
    height:240px;
    overflow:scroll;
}
.insColumn
{
    border-bottom-style: double;
    min-width: 100px;
    text-align: center;
    padding: 3px;
}
