<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
        <link href="resource/css/style.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body>
        <h:form>
        <div>
            <ui:repeat value="#{booksController.searchBookList}" var="bookitem" varStatus="status">
                        <div>
                            <h:outputText value="#{bookitem.title}"/><br/>
                            <ui:repeat value="#{bookitem.authors}" var="authorVar" varStatus="status">
                                <h:outputText value=" | " />
                                <h:outputText value="#{authorVar.name}"/>                       
                            </ui:repeat>
                            <br />
                            <img src="#{bookitem.coverUrl}" alt="Not Found"/>
                        </div>
            </ui:repeat>
        </div>
        </h:form>
    </h:body>
</html>

